* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* ========================================= */
/* ========================================= */

.header {
  height: 124px;
}

.main {

}

.footer {
  height: 156px;
}

/* ========================================= */
/* ========================================= */

.container {
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
max-width: 100px;
}

.logo img {
  width: 100%;
  }

/* =====================HEADER==================== */
/* =====================HEADER==================== */

.header__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* =====================FOOTER==================== */
/* =====================FOOTER==================== */

.footer__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  flex-grow: 1;
}